<div class="w-100 h-100 ">
    <div style="" class="d-flex flex-column justify-content-center align-items-center p-4">
        <h1 class="text-uppercase text-center fw-bold">About Us</h1>
        <div class="d-flex justify-content-center mt-4">
            <h4 style="max-width: 100%; text-align: center; max-height: 650px;" class="overflow-scroll fw-normal">
                <strong><em>Welcome to Protestify, your platform for raising your voice and making a difference!</em></strong> <br><br>
                At Protestify, we believe in the power of activism and the importance of amplifying your voice. We provide a space where activists like you can promote your rallies, events, and causes, and connect with others who share your passion for change. <br><br>
                
                Our mission is to empower individuals and communities to stand up for what they believe in and create positive impact in the world. Whether you're advocating for social justice, environmental protection, human rights, or any other cause, Protestify is here to support you every step of the way!
            </h4>
        </div>
    </div>
</div>


