<div
  *ngIf="is_admin == false"
  class="d-flex justify-content-center rounded"
  style="background-color: #eae8e8; height: 725px"
>
  <app-list-promoted-rallies
    *ngIf="is_admin == false"
    class="h-100"
    style="width: 80%"
  />
</div>

<div
  *ngIf="is_admin == true"
  class="d-flex rounded"
  style="background-color: #eae8e8; height: 725px"
>
  <app-list-pending-rallies *ngIf="is_admin == true" class="w-50 h-100" />
  <app-my-admin-stats *ngIf="is_admin == true" class="w-50 h-100" />
</div>
