
<div class="container-fluid" style="z-index: 2; position: relative; width: 90%;">
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-row justify-content-around w-100 mt-4 rounded" style="background-color: #e4ebf3ce; height: 750px; width: 90%; max-height: 750px; backdrop-filter: blur(5px);">
            <app-my-about class="" style="width: 30%;"></app-my-about>
            <app-list-promoted-rallies class="" style="width: 70%;"></app-list-promoted-rallies>
        </div>
    </div>
</div>

