<div class="container-fluid w-75" >
    <h1>Register</h1>
    <form [formGroup]="register_form" (ngSubmit)="on_submit()">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" formControlName="first_name">
            <span class="text-danger" *ngIf="register_form.controls.first_name && register_form.controls.first_name.invalid && register_form.controls.first_name.touched">This input is required</span>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" formControlName="last_name">
            <span class="text-danger" *ngIf="register_form.controls.last_name && register_form.controls.last_name.invalid && register_form.controls.last_name.touched">This input is required</span>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <span class="text-danger" *ngIf="register_form.controls.username && register_form.controls.username.invalid && register_form.controls.username.touched">This input is required</span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <span class="text-danger " *ngIf="register_form.controls.email && register_form.controls.email.invalid && register_form.controls.email.touched">This input is required</span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" formControlName="password">
            <span class="text-danger" *ngIf="register_form.controls.password && register_form.controls.password.invalid && register_form.controls.password.touched">This input is required</span>
            <span class="text-danger " *ngIf="register_form.controls.password && register_form.controls.password.invalid && register_form.controls.password.touched">The password needs a minimum length 10.</span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="register_form.invalid">
                Create Account
            </button>
        </div>
    </form>
</div>
