<div class="container-fluid w-75" >
    <h1>Register</h1>
    <form [formGroup]="register_form" (ngSubmit)="on_submit()">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" formControlName="first_name">
            <span class="text-danger " *ngIf="register_form.get('first_name')?.hasError('required') && register_form.get('first_name')?.touched">This input is required.</span>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" formControlName="last_name">
            <span class="text-danger " *ngIf="register_form.get('last_name')?.hasError('required') && register_form.get('last_name')?.touched">This input is required.</span>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <span class="text-danger " *ngIf="register_form.get('username')?.hasError('required') && register_form.get('username')?.touched">This input is required.<br/></span>
            <span class="text-danger " *ngIf="register_form.get('username')?.invalid && register_form.get('password')?.touched">The username needs a minimum length of 8.<br/></span>
            <span class="text-danger " *ngIf="username_exists">This username already exists.</span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <span class="text-danger " *ngIf="register_form.get('email')?.hasError('required') && register_form.get('email')?.touched">This input is required.<br/></span>
            <span class="text-danger " *ngIf="register_form.get('email')?.hasError('email') && register_form.get('email')?.touched">Invalid email format.<br/></span>
            <span class="text-danger " *ngIf="email_exists == true">This email has already been registered.</span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="encrypted_password" formControlName="password">
            <span class="text-danger " *ngIf="register_form.get('password')?.hasError('required') && register_form.get('password')?.touched">This input is required.<br/></span>
            <span class="text-danger " *ngIf="register_form.get('password')?.invalid && register_form.get('password')?.touched">The password needs a minimum length of 10.</span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="register_form.invalid">
                Create Account
            </button>
        </div>
    </form>
</div>
