<div class="container-fluid w-75" >
    <h1>Login</h1>
    <form [formGroup]="login_form" (ngSubmit)="on_submit()">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div *ngIf="is_submitted == true && invalid_credentials == true" class="p-3 mb-2 bg-danger text-white">
            Credentials entered are invalid.
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="login_form.invalid">
                Log-In
            </button>
        </div>
    </form>
</div>
